<h2>Random selection</h2>

<% form_tag({}, :method => :get) do %>
  <p>Display
    <%= select_tag 's', options_for_select(['10', '20', '50', '100'],
                                           session[:random_selection_size]) %>
    files <%= submit_tag 'refresh' %></p>
<% end %>

<%= render :partial => 'files/listing' %>