[playlist]
NumberOfEntries=<%= @files.size %>
<% i = 0 -%>
<% @files.each do |f| -%>
File<%= i += 1 %>=<%= url_for :controller => 'files', :action => 'stream', :id => f.id, :only_path => false %>
Title<%= i %>=<%= f.basename %>
<% end -%>
Version=2