<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Your description goes here..." />
<meta name="keywords" content="your,keywords,goes,here" />
<meta name="author" content="Your Name / Design by Andreas Viklund - http://andreasviklund.com/" />
<%= stylesheet_link_tag 'style', :media => 'screen,projection' %>
<%= javascript_include_tag :defaults %>
<title>mediabumper</title>
</head>

<body>
<div id="wrap">

<div id="header">
<p id="toplinks">Go to:
  <%= link_to 'search', :controller => 'file', :action => 'search' %> |
  <%= link_to 'browse', :controller => 'file', :action => 'browse' %> |
  <%= link_to 'your profile', :controller => 'user', :action => 'profile' %></p>
<h1><%= link_to 'media<span class="fade">bumper</span>',
                :controller => 'home', :action => 'index' %></h1>
<p id="slogan">social media sharing</p>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="sidebar">
  <%= render :partial => 'user/sidebar' %>
  <%= render :partial => 'file/quick_search' %>
  <%= render :partial => 'playlist/sidebar' %>
</div>

<div id="footer">
<!--<p><a href="#">Contact us</a> | <a href="#">Privacy policy</a> | <a href="#">Sitemap</a> | <a href="#">RSS</a> | <a href="#header">Back to top</a><br />-->
<p>&copy; 2006 <a href="http://mediabumper.org/">mediabumper</a> |
  design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
</div>

</div>
</body>
</html>
